{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{% block content %}
    <div class="zz-form_container">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.deliveryAddress) }}
            {{ form_widget(form.deliveryAddress, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_end(form) }}
    </div>

    {% if cartAlias == 'userCart' %}
        <table class="table-bordered table table-hover">
            {% for product in cartData.products %}
                <tr id="zz-cart_product_container_{{ product.product.id }}" class="zz-product_container">
                    <td>
                        <button class="btn btn-danger btn-xs zz-cart_remove_all"
                                data-product_id="{{ product.product.id }}">
                            Х
                        </button>
                    </td>
                    <td>
                        <a href="{{ path('shop_product_show', {'id': product.product.id}) }}">
                            {{ product.product.name }}
                        </a>
                    </td>
                    <td>
                        {{ product.product.price }}
                    </td>
                    <td>
                        <button class="zz-cart_minus_button btn btn-xs btn-default"
                                data-product_id="{{ product.product.id }}">
                            -
                        </button>
                        <input size="1" type="text" title="" value="{{ product.quantity }}" disabled="disabled">
                        <button class="zz-cart_plus_button btn btn-xs btn-default" data-product_id="{{ product.product.id }}">
                            +
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="zz-summary_data_container" colspan="4">
                    {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') ~ ': ' ~ cartData.summaryData.summaryQuantity
                    ~ ' / ' ~ 'cart.status.message.summaryCost'|trans({}, 'shop') ~ ': ' ~ cartData.summaryData.summaryCost}}
                </td>
            </tr>
        </table>
    {% elseif cartAlias == 'groupCart' %}
        {% for userData in cartData %}
            <h3>{{ userData.user.firstname ~ ' ' ~ userData.user.lastName }}</h3>
            <table class="table-bordered table table-hover">
                <tr>
                    {% if app.user.id == userData.user.id %}
                        <th>
                        </th>
                    {% endif %}
                    <th>
                        {{ 'cart.field.table.product'|trans({}, 'shop') }}
                    </th>
                    <th>
                        {{ 'cart.field.table.price'|trans({}, 'shop') }}
                    </th>
                    <th>
                        {{ 'cart.field.table.quantity'|trans({}, 'shop') }}
                    </th>
                </tr>
                    {% for product in  userData.products %}
                <tr id="zz-cart_product_container_{{ product.product.id }}">
                    {% if app.user.id == userData.user.id %}
                        <td>
                            <button class="btn btn-danger btn-xs zz-cart_remove_all"
                                    data-product_id="{{ product.product.id }}">
                                Х
                            </button>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('shop_product_show', {'id': product.product.id}) }}">
                            {{ product.product.name }}
                        </a>
                    </td>
                    <td>
                        {{ product.product.price }}
                    </td>
                    <td>
                        {% if app.user.id == userData.user.id %}
                            <button class="zz-cart_minus_button btn btn-default btn-xs"
                                    data-product_id="{{ product.product.id }}">
                                -
                            </button>
                            <input size="1" type="text" title="" value="{{ product.quantity }}" disabled="disabled">
                            <button class="zz-cart_plus_button btn btn-default btn-xs"
                                    data-product_id="{{ product.product.id }}">
                                +
                            </button>
                        {% else %}
                            <p>{{ product.quantity }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="zz-summary_data_container" colspan="4">
                        {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryQuantity
                        ~ ' / ' ~ 'cart.status.message.summaryCost'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryCost}}
                    </td>
                </tr>
            </table>
            <hr>
        {% endfor %}
        <input type="hidden" id="zz-self_id" value="{{ app.user.id }}">
    {% endif %}
{% endblock %}