{% extends '@DeveloperLife/admin/shop/product/indexProduct.html.twig' %}

{% block content %}
    {{ include('@DeveloperLife/admin/shop/product/formProduct.html.twig', {'form': form}) }}
{% endblock %}