{% extends '@DeveloperLife/admin/shop/product/indexProduct.html.twig' %}

{% block content %}
    <div class="row zz-action_menu_container">
        <a class="btn btn-warning btn-xs" href="{{ path('admin_shop_product_edit', {'id': product.id}) }}">
            {{ 'product.linkLabel.editProduct'|trans({}, 'admin') }}
        </a>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'product.form.fieldLabel.name'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ product.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'product.form.fieldLabel.price'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ product.price }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'product.form.fieldLabel.description'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ product.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'product.form.fieldLabel.image'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            <img class="thumbnail" src="{{ asset(product.image) }}" alt="{{ product.name }}">
        </div>
    </div>
    {% if product.category %}
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'product.form.fieldLabel.category'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                <a href="{{ path('admin_shop_category_show', {'id': product.category.id}) }}">{{ product.category.name }}</a>
            </div>
        </div>

    {% endif %}
{% endblock %}