{% extends '@DeveloperLife/admin/shop/order/indexOrder.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.userName'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            <a href="{{ path('admin_user_show', {'id': userOrder.user.id, 'infoAlias': 'common'}) }}">
                {{ userOrder.user.firstName ~ ' ' ~ userOrder.user.lastName}}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.orderNumber'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userOrder.number}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.creationDate'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userOrder.stringCreationDate }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.deliveryAddress'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userOrder.deliveryAddress.country }} {{ userOrder.deliveryAddress.region }} {{ userOrder.deliveryAddress.city }} {{ userOrder.deliveryAddress.street }} {{ userOrder.deliveryAddress.house }}
            /{{ userOrder.deliveryAddress.flat }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userOrder.summaryData.summaryQuantity }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryCost'|trans({}, 'shop') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userOrder.summaryData.summaryCost }}
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                {{ 'order.label.table.category'|trans({}, 'admin') }}
            </th>
            <th>
                {{ 'order.label.table.product'|trans({}, 'admin') }}
            </th>
            <th>
                {{ 'order.label.table.price'|trans({}, 'admin') }}
            </th>
            <th>
                {{ 'order.label.table.quantity'|trans({}, 'admin') }}
            </th>
        </tr>
        {% for userOderHasProduct in userOrder.userOrderHasProducts %}
            <tr>
                <td>
                    <a href="{{ path('admin_shop_category_show', {'id': userOderHasProduct.product.category.id}) }}">
                        {{ userOderHasProduct.product.category.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_shop_product_show', {'id': userOderHasProduct.product.id}) }}">
                        {{ userOderHasProduct.product.name }}
                    </a>
                </td>
                <td>
                    {{ userOderHasProduct.price }}
                </td>
                <td>
                    {{ userOderHasProduct.quantity }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}