{% extends '@DeveloperLife/admin/shop/order/indexOrder.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.groupName'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ groupOrder.userGroup.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.orderNumber'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ groupOrder.number }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.creationDate'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ groupOrder.stringCreationDate }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.deliveryAddress'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ groupOrder.deliveryAddress.country }} {{ groupOrder.deliveryAddress.region }} {{ groupOrder.deliveryAddress.city }} {{ groupOrder.deliveryAddress.street }} {{ groupOrder.deliveryAddress.house }}
            /{{ groupOrder.deliveryAddress.flat }}
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.summaryData.summaryQuantity }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryCost'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.summaryData.summaryCost }}
            </div>
        </div>
        {% for userData in orderdata %}
            <a href="{{ path('admin_user_show', {'id': userData['user'].id, 'infoAlias': 'common'}) }}">
                <h3>{{ userData['user'].firstName ~ ' ' ~ userData['user'].lastName }}</h3>
            </a>
            <table class="table table-bordered table-hover">
                {% for productData in userData['products'] %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_shop_category_show', {'id': productData['product'].category.id}) }}">
                                {{ productData['product'].category.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_shop_product_show', {'id': productData['product'].id}) }}">
                                {{ productData['product'].name }}
                            </a>
                        </td>
                        <td>
                            {{ productData['price'] }}
                        </td>
                        <td>
                            {{ productData['quantity'] }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="zz-summary_data_container" colspan="4">
                        {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryQuantity
                        ~ ' / ' ~ 'cart.status.message.summaryCost'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryCost }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}