{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <hr>
    {% for product in category.products %}
        <div class="row">
            <div class="col-xs-3">
                <h2>
                    <a href="{{ path('shop_product_show', {'id': product.id }) }}">
                        {{ product.name  }}
                    </a>
                </h2>
                <p>{{ 'product.label.fieldLabel.price'|trans({'price': product.price}, 'shop') }}</p>
                {% if is_granted('ROLE_USER') %}
                    <button class="btn btn-success zz-cart_add" data-product_id="{{ product.id }}">
                        {{ 'product.label.button.cartButton'|trans({}, 'shop') }}
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-9">
                <img  class="thumbnail" src="{{ asset(product.image) }}" alt="">
            </div>
        </div>
    {% endfor %}
{% endblock %}