{% extends '@DeveloperLife/layouts/adminLayout.html.twig' %}



{% block body %}
    <div class="col-xs-2">
        {% block leftSideBar %}
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_shop_category') }}">
                {{ 'category.linkLabel.categoryList'|trans({}, 'admin') }}
            </a>
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_shop_category_new') }}">
                {{ 'category.linkLabel.newCategory'|trans({}, 'admin') }}
            </a>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block content %}
            <table class="table table-hover table-bordered">
                <tr>
                    <th>
                        {{ 'category.label.table.name'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'category.label.table.productCount'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'category.label.table.action'|trans({}, 'admin') }}
                    </th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_shop_category_show', {'id': category.id}) }}">{{ category.name }}</a>
                        </td>
                        <td>
                            {{ category.products|length }}
                        </td>
                        <td>
                            <div class=" btn-group btn-group-xs" role="group">
                                <a class="btn btn-danger" href="{{ path('admin_shop_category_remove', {'id': category.id}) }}">
                                    {{ 'category.linkLabel.removeCategory'|trans({}, 'admin') }}
                                </a>
                                <a class="btn btn-warning" href="{{ path('admin_shop_category_edit', {'id': category.id}) }}">
                                    {{ 'category.linkLabel.editCategory'|trans({}, 'admin') }}
                                </a>
                            </div>
                        </td>

                    </tr>

                {% endfor %}
            </table>

            <ul>

            </ul>
        {% endblock %}
    </div>
{% endblock %}