{% extends '@DeveloperLife/admin/shop/category/indexCategory.html.twig' %}

{% block content %}
    {{ include('@DeveloperLife/admin/shop/category/formCategory.html.twig', {'form': form}) }}
{% endblock %}