{% if cartAlias == 'userCart' %}
    <a class="main-menu-links" href="{{ path('shop_profile_cart') }}">
        {{ 'cart.status.message.label'|trans({ 'summaryCost': cartData.summaryData.summaryCost,
            'summaryQuantity': cartData.summaryData.summaryQuantity }, 'shop') }}
        <i class="fa fa-shopping-cart fa-lg"></i>
    </a>
{% elseif cartAlias == 'groupCart' %}
    <a class="main-menu-links" href="{{ path('shop_profile_cart') }}">
        {{ 'cart.status.message.labelGroup'|trans({ 'summaryCartCost': cartData.summaryCartData.summaryCartCost,
            'summaryCartQuantity': cartData.summaryCartData.summaryCartQuantity }, 'shop') }}
        <i class="fa fa-shopping-cart fa-lg"></i>
    </a>
{% endif %}