{% extends '@DeveloperLife/layouts/adminLayout.html.twig' %}

{% block body %}
    <div class="col-xs-2">
        {% block leftSideBar %}
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_order') }}">
                {{ 'order.label.link.orderList'|trans({}, 'admin') }}
            </a>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block content %}
            <h3>{{ 'user.title.userOrders'|trans({}, 'admin') }}</h3>
            <table class="table-bordered table table-hover">
                <tr>
                    <th>
                        {{ 'order.label.table.number'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'user.linkLabel.actions'|trans({}, 'admin') }}
                    </th>
                </tr>
                {% for userOrder in userOrders %}
                    <tr>
                        <td>
                            {{ userOrder.number }}
                        </td>
                        <td>
                            {{ userOrder.stringCreationDate }}
                        </td>
                        <td>
                            {{ userOrder.orderStatus.name }}
                        </td>
                        <td>
                            <a href="{{ path('admin_order_userOrder_show', {'id': userOrder.id}) }}">
                                {{ 'user.linkLabel.details'|trans({}, 'admin') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <h3>{{ 'user.title.groupOrders'|trans({}, 'admin') }}</h3>
            <table class="table-bordered table table-hover">
                <tr>
                    <th>
                        {{ 'order.label.table.groupName'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'order.label.table.number'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                    </th>
                    <th>
                        {{ 'user.linkLabel.actions'|trans({}, 'admin') }}
                    </th>
                </tr>
                {% for groupOrder in groupOrders %}
                    <tr>
                        <td>
                            {{ groupOrder.userGroup.name }}
                        </td>
                        <td>
                            {{ groupOrder.number }}
                        </td>
                        <td>
                            {{ groupOrder.stringCreationDate }}
                        </td>
                        <td>
                            {{ groupOrder.orderStatus.name }}
                        </td>
                        <td>
                            <a href="{{ path('admin_order_groupOrder_show', {'id': groupOrder.id}) }}">
                                {{ 'user.linkLabel.details'|trans({}, 'admin') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
{% endblock %}