{% if infoAlias == 'addresses' %}
    <h4>{{ 'user.linkLabel.deliveryAddress'|trans({}, 'admin') }}</h4>
    <div class="thumbnail">
        {% for address in user.deliveryAddresses %}
            <div>
                {{ address.country }} {{ address.region }} {{ address.city }} {{ address.street }} {{ address.house }}
                /{{ address.flat }}
            </div>
        {% endfor %}
    </div>
{% elseif infoAlias == 'groups' %}
    <h4>{{ 'user.title.userGroups'|trans({}, 'admin') }}</h4>
    <div class="thumbnail">
        <h5>{{ 'user.title.userGroupOwner'|trans({}, 'admin') }}</h5>
        {% for userGroup in user.userGroup %}
            <div>
                {{ userGroup.name }}
            </div>
        {% endfor %}

        <h5>{{ 'user.title.userGroupMember'|trans({}, 'admin') }}</h5>
        {% for userHasGroup in user.userHasGroups %}
            <div>
                {{ userHasGroup.userGroup.name }}
            </div>
        {% endfor %}
    </div>
{% elseif infoAlias == 'orders' %}
    <h4>{{ 'user.title.orders'|trans({}, 'admin') }}</h4>
    <div class="thumbnail">
        <h5>{{ 'user.title.userOrders'|trans({}, 'admin') }}</h5>
        <table class="table-bordered table table-hover">
            <tr>
                <th>
                    {{ 'order.label.table.number'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                </th>
            </tr>
            {% for userOrder in user.userOrders %}
                <tr>
                    <td>
                        <a href="{{ path('admin_order_userOrder_show', {'id': userOrder.id}) }}">
                            {{ userOrder.number }}
                        </a>
                    </td>
                    <td>
                        {{ userOrder.stringCreationDate }}
                    </td>
                    <td>
                        {{ userOrder.orderStatus.name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h5>{{ 'user.title.groupOrders'|trans({}, 'admin') }}</h5>
        <table class="table-bordered table table-hover">
            <tr>
                <th>
                    {{ 'order.label.table.groupName'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.number'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                </th>
            </tr>
            {% for userHasGroup in user.userHasGroups %}
                {% for groupOrder in userHasGroup.userGroup.groupOrders %}
                    <tr>
                        <td>
                            {{ userHasGroup.userGroup.name }}
                        </td>
                        <td>
                            <a href="{{ path('admin_order_groupOrder_show', {'id': groupOrder.id}) }}">
                                {{ groupOrder.number }}
                            </a>
                        </td>
                        <td>
                            {{ groupOrder.stringCreationDate }}
                        </td>
                        <td>
                            {{ groupOrder.orderStatus.name }}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

    </div>
{% endif %}