<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('bundles/developerlife/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/developerlife/stylesheet/admin.css') }}">
    <title>{{ 'layout.title'|trans({}, 'shop') }}</title>

</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" id="main_menu">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('shop_homepage') }}" class="navbar-brand">{{ 'layout.title'|trans({}, 'shop') }}</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a class="main-menu-links" href="{{ path('shop_profile_index') }}">
                        {{ 'layout.label.link.profile'|trans({}, 'shop') }}
                    </a>
                </li>
                {% if app.user is empty %}
                    <li>
                        <a class="main-menu-links" href="{{ path('shop_user_register') }}">
                            {{ 'layout.label.link.register'|trans({}, 'shop') }}
                        </a>
                    </li>
                    /
                    <li>
                        <a class="main-menu-links" href="{{ path('shop_login') }}">
                            {{ 'layout.label.link.login'|trans({}, 'shop') }}
                        </a>
                    </li>
                {% else %}
                    <li id="zz-cart_status_container">
                        {{ render(controller('DeveloperLifeBundle:Shop/Shop/Cart:getCartStatus')) }}
                    </li>
                    <li>
                        {{ render(controller('DeveloperLifeBundle:Shop/User/UserGroup:joinRequestInStatus')) }}
                    </li>
                    <li>
                        <a href="{{ path('shop_logout') }}">
                            {{ 'layout.label.link.logout'|trans({}, 'shop') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div>
    {% block body %}

        <div class="col-xs-3">
            {% block leftSideBar %}
                {{ render(controller('DeveloperLifeBundle:Shop/Shop/Product:getSideBar')) }}
            {% endblock %}
        </div>
        <div class="col-xs-9">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
<script src="{{ asset('bundles/developerlife/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/developerlife/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('bundles/developerlife/js/shop.js') }}"></script>

</body>
</html>