{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{% block  body %}
    <div class="container zz-form_container">
        <h3>{{ 'form.register.title'|trans({}, 'shop') }}</h3>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.birthDate) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
