{% extends '@DeveloperLife/layouts/adminLayout.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container zz-form_container">
        <form class="form-horizontal" action="{{ path('admin_login') }}" method="post">
            <div class="form-group">
                <label for="username">
                    {{ 'form.login.fieldLabel.username'|trans({}, 'admin') }}:
                </label>
                <input class="form-control" placeholder="{{ 'form.login.fieldLabel.username'|trans({}, 'admin') }}"
                       type="text" id="username" name="_username" value="{{ lastUserName }}">
            </div>
            <div class="form-group">
                <label for="password">
                    {{ 'form.login.fieldLabel.password'|trans({}, 'admin') }}:
                </label>
                <input class="form-control" placeholder="{{ 'form.login.fieldLabel.password'|trans({}, 'admin') }}"
                       type="password" id="password" name="_password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <button class="btn btn-default" type="submit">
                    {{ 'form.login.fieldLabel.login'|trans({}, 'admin') }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}