{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{% block content %}
    <div id="zz-cart_content_container">
        {{ render(controller('DeveloperLifeBundle:Shop/Shop/Cart:getShowCartPartial')) }}
    </div>
{% endblock %}