.zz-sidebar_button {
    width: 100%;
    margin-bottom: 3px;
}

.zz-form_container {
    max-width: 500px;
}

.zz-action_menu_container {
    border: solid blue 1px;
    border-radius: 3px;
    padding: 3px;
}

.zz-cart_remove_all,
.zz-cart_plus_button,
.zz-cart_minus_button {
    border-radius: 50%;
}

.zz-product_container {
    margin-top: 5px;
}

img {
    max-width: 250px;
}