{% extends '@DeveloperLife/user/profile/indexProfile.html.twig' %}

{% block content %}
    <div class="zz-form_container">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.country) }}
        </div>

        <div class="form-group">
            {{ form_label(form.region) }}
            {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.region) }}
        </div>

        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.city) }}
        </div>

        <div class="form-group">
            {{ form_label(form.street) }}
            {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.street) }}
        </div>

        <div class="form-group">
            {{ form_label(form.house) }}
            {{ form_widget(form.house, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.house) }}
        </div>

        <div class="form-group">
            {{ form_label(form.flat) }}
            {{ form_widget(form.flat, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.flat) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}