{% extends '@DeveloperLife/user/userGroup/indexUserGroup.html.twig' %}

{% block content %}
    <h2>{{ 'userGroup.message.group.joinRequestInTitle'|trans({}, 'profile') }}</h2>
    {% for joinRequest in joinRequests %}
        <div id="zz-group_join_request_container_{{ joinRequest.id }}">
            <p>
                {{ joinRequest.userGroup.name }} {{ joinRequest.user.firstName }} {{ joinRequest.user.lastName }}
                <button class="zz-group_join_confirm btn btn-warning btn-xs" data-join_request_id="{{ joinRequest.id }}">
                    {{ 'userGroup.label.link.confirm'|trans({}, 'profile') }}
                </button>
            </p>
        </div>
    {% else %}
        <p>{{ 'userGroup.message.group.joinRequestInEmpty'|trans({}, 'profile') }}</p>
    {% endfor %}
{% endblock %}