{% extends '@DeveloperLife/user/userGroup/indexUserGroup.html.twig' %}

{% block content %}
    <div class="zz-form_container">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}