{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{#{% block body %}#}
    {% block leftSideBar %}
        <div>
            <a class="zz-sidebar_button btn btn-info" href="{{ path('shop_profile_cart_settings') }}">
                {{ 'cart.label.link.sideBar'|trans({}, 'profile') }}
            </a>
        </div>
        <div>
            <a class="zz-sidebar_button btn btn-info" href="{{ path('shop_profile_group') }}">
                {{ 'userGroup.label.link.sideBar'|trans({}, 'profile') }}
            </a>
        </div>
        <div>
            <a class="zz-sidebar_button btn btn-info" href="{{ path('shop_profile_order') }}">
                {{ 'userOrder.label.link.sideBar'|trans({}, 'profile') }}
            </a>
        </div>
        <div>
            <a class="zz-sidebar_button btn btn-info" href="{{ path('shop_profile_address') }}">
                {{ 'deliveryAddress.label.link.sideBar'|trans({}, 'profile') }}
            </a>
        </div>

    {% endblock %}



    {% block content %}

    {% endblock %}
{#{% endblock %}#}